<div class="wrapper">
  
  {{username-form user=model}}

  <div class="left">
    {{#if model.firt_pull_request}}
      {{pr-card pr=model.firt_pull_request}}
    {{/if}}
  </div>

  {{!-- <div class="right">
    {{pr-card pr=model.firt_pull_request}}
  </div> --}}
  
  {{outlet}}
</div>
